$black: #000;
$black-ligth: #222326;
$white: white;
$grey: #919496;
$grey-medium: #c1c3c6;
$grey-ligth: #efefef;

$colors-redes: (
 twitter: #55acee,
 facebook:  #3a5795
);

$fonts: (
 size-1: 1.4rem,
 size-2: 1.6rem,
 size-3: 1.8rem
);

